* {
    box-sizing: border-box;
}

.container {
    border: 2px solid black;
    background-color:#28002a;
}

.top-side {
    border: 9px solid rgb(0 0 0);
    /* border-bottom: none; */
    border-radius: 7px;
    border-style: double;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    justify-content: space-evenly;
}

.top-side-name {
    /* font-family: monospace; */
    border-radius: 4px;
    color: #fffefe;
    text-shadow: 0 0 5px black;
    font-size: 40px;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
}
.waviy {
    position: relative;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
  
.top-side-details {
    color: #fffefe;
    line-height: 20px;
    text-shadow: 0 0 5px black;
}

.top-side-details a {
    text-decoration: none;
    color: #fffefe;
}

.top-side-details a:hover {
    text-decoration: double;
    animation-duration: 0.25s;
    border-left: 8px solid rgba(0, 0, 0, 0);
    color: #fa66ff;
    text-shadow: 0 0 5px #000000;
}

.col-4 {
    background-color: #e5e5e5;
    float: left;
    width: 30%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
    border: 12px solid #57005a;
    border-radius: 10px;
    border-style: double;
    display: inline-flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: stretch;
    /* position: absolute; */
    background-color: black;
}

.left-side-inside {
    float: left;
    width: 20%;
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-content: center; */
    justify-content: space-around;
    align-items: flex-start;
    height: fit-content;
    width: 86%;
    color: white;
}

.left-side-inside h4 {
    color: #f086f4;
    font-family: monospace;
    font-size: 1.5em;
}

.left-side-inside p {
    color: white;
    font-family: ui-monospace;
    font-size: 1em;
    margin: 0.1rem;
    padding: 0.5em 0 0 0;
}

.left-side-inside .skill-bar {
    width: 100%;
    height: 0.5rem;
    background-color: #ddd;
    border-radius: 3px;
}

.reactJS {
    width: 88%;
    background-color: #57005a;
    height: 0.5rem;
    border-radius: 3px;
}

.native {
    width: 5%;
     background-color: #57005a;
    height: 0.5rem;
    border-radius: 3px;
}

.html {
    width: 98%;
     background-color: #57005a;
    height: 0.5rem;
    border-radius: 3px;
}

.css {
    width: 98%;
     background-color: #57005a;
    height: 0.5rem;
    border-radius: 3px;
}

.js {
    width: 80%;
     background-color: #57005a;
    height: 0.5rem;
    border-radius: 3px;
}

.bootStrap {
    width: 87%;
     background-color: #57005a;
    height: 0.5rem;
    border-radius: 3px;
}

.firebase {
    width: 75%;
     background-color: #57005a;
    height: 0.5rem;
    border-radius: 3px;
}

.github {
    width: 85%;
     background-color: #57005a;
    height: 0.5rem;
    border-radius: 3px;
}

.powerPoint {
    width: 98%;
     background-color: #57005a;
    height: 0.5rem;
    border-radius: 3px;
}

.word {
    width: 98%;
     background-color: #57005a;
    height: 0.5rem;
    border-radius: 3px;
}

.excel {
    width: 70%;
     background-color: #57005a;
    height: 0.5rem;
    border-radius: 3px;
}

.video {
    width: 95%;
     background-color: #57005a;
    height: 0.5rem;
    border-radius: 3px;
}

.col-8 {
    float: left;
    width: 70%;
    padding: 0 20px;
}

.right-side-content {
    display: inline-flex;
    flex-direction: column;
    height: fit-content;
    height: fit-content;
    width: 100%;
    align-content: center;
    align-items: flex-start;
    padding: 1em;
}

.right-side-content h4 {
    padding: 10px;
    border-radius: 10px;
    display: block;
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-family: monospace;
    font-size: 1.5em;
    background: linear-gradient(90deg, rgb(0 0 0) 0%, #57005a 90%, rgb(241 237 237 / 0%) 100%);
}

.education {
    display: inline-flex;
    flex-direction: column;
    line-height: 1.4em;
}

.education h6 {
    display: inline;
    text-align: right;
}

.education .descrip {
    display: block;
}

@media only screen and (max-width: 620px) {

    /* For mobile phones: */
    .menu,
    .col-8,
    .col-4 {
        width: 100%;
        font-size: medium;
    }
}
