* {
    box-sizing: border-box;
}

.container {
    border: 2px solid black;
    background-color: rgb(0 73 73);
}

.top-side {
    border: 1px solid rgb(255, 255, 255);
    border-bottom: none;
    border-radius: 4px;
    border-style: double;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
    justify-content: space-evenly;
}

.top-side-name {
    font-family: monospace;
    border-radius: 4px;
    color: #fffefe;
    text-shadow: 0 0 5px black;
    font-size: 40px;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
}


/* .top-side-name .animation {
    font-family: fantasy;
}

.words {
    color: rgb(0 73 73);
    font-size: 0;
    line-height: 1;
}

.words span {
    font-size: 4rem;
    display: inline-block;
    animation: move 5s ease-in-out infinite;
}

@keyframes move {
    0% {
        transform: translate(-25%, 0);
    }
    50% {
        text-shadow: 0 30px 50px rgba(0, 0, 0, 0.75);
    }
    100% {
        transform: translate(30%, 0);
    }
}

.words span:nth-child(2) {
    animation-delay: 0.5s;
}

.words span:nth-child(3) {
    animation-delay: 1s;
}

.words span:nth-child(4) {
    animation-delay: 1.5s;
}

.words span:nth-child(5) {
    animation-delay: 2s;
}

.words span:nth-child(6) {
    animation-delay: 2.5s;
}

.words span:nth-child(7) {
    animation-delay: 3s;
} */

.top-side-details {
    color: #fffefe;
    line-height: 20px;
    text-shadow: 0 0 5px black;
}

.top-side-details a {
    text-decoration: none;
    color: #fffefe;
}

.top-side-details a:hover {
    text-decoration: double;
    animation-duration: 0.25s;
    border-left: 8px solid rgba(0, 0, 0, 0);
    color: #3a7373;
    text-shadow: 0 0 5px #000000;
}

.col-4 {
    background-color: #e5e5e5;
    float: left;
    width: 30%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
    border: 12px solid #004949;
    border-radius: 10px;
    border-style: double;
    display: inline-flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: stretch;
    /* position: absolute; */
    background-color: black;
}

.left-side-inside {
    float: left;
    width: 20%;
    text-align: center;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-content: center; */
    justify-content: space-around;
    align-items: flex-start;
    height: fit-content;
    width: 86%;
    color: white;
}

.left-side-inside h4 {
    color: #99c7c7;
    font-family: monospace;
    font-size: 1.5em;
}

.left-side-inside p {
    color: white;
    font-family: ui-monospace;
    font-size: 1em;
    margin: 0.1rem;
    padding: 0.5em 0 0 0;
}

.left-side-inside .skill-bar {
    width: 100%;
    height: 0.5rem;
    background-color: #ddd;
    border-radius: 3px;
}

.reactJS {
    width: 88%;
    background-color: rgb(76 127 127);
    height: 0.5rem;
    border-radius: 3px;
}

.native {
    width: 5%;
    background-color: rgb(76 127 127);
    height: 0.5rem;
    border-radius: 3px;
}

.html {
    width: 98%;
    background-color: rgb(76 127 127);
    height: 0.5rem;
    border-radius: 3px;
}

.css {
    width: 98%;
    background-color: rgb(76 127 127);
    height: 0.5rem;
    border-radius: 3px;
}

.js {
    width: 85%;
    background-color: rgb(76 127 127);
    height: 0.5rem;
    border-radius: 3px;
}

.bootStrap {
    width: 70%;
    background-color: rgb(76 127 127);
    height: 0.5rem;
    border-radius: 3px;
}

.powerPoint {
    width: 98%;
    background-color: rgb(76 127 127);
    height: 0.5rem;
    border-radius: 3px;
}

.word {
    width: 98%;
    background-color: rgb(76 127 127);
    height: 0.5rem;
    border-radius: 3px;
}

.excel {
    width: 70%;
    background-color: rgb(76 127 127);
    height: 0.5rem;
    border-radius: 3px;
}

.video {
    width: 95%;
    background-color: rgb(76 127 127);
    height: 0.5rem;
    border-radius: 3px;
}

.col-8 {
    float: left;
    width: 70%;
    padding: 0 20px;
}

.right-side-content {
    display: inline-flex;
    flex-direction: column;
    height: fit-content;
    height: fit-content;
    width: 100%;
    align-content: center;
    align-items: flex-start;
    padding: 1em;
}

.right-side-content h4 {
    padding: 10px;
    border-radius: 10px;
    display: block;
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-family: monospace;
    font-size: 1.5em;
    background: linear-gradient(90deg, rgb(0 0 0) 0%, rgb(59 115 115) 50%, rgb(241 237 237 / 0%) 100%);
}

.education {
    display: inline-flex;
    flex-direction: column;
    line-height: 1.4em;
}

.education h6 {
    display: inline;
    text-align: right;
}

.education .descrip {
    display: block;
}

@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu,
    .col-8,
    .col-4 {
        width: 100%;
    }
}